header {
   display: flex;
   flex-direction: column-reverse;  
   width: 100%;
   height: 400px;
   background-image: url('Aligator.jpg');
   background-size: cover;
   border-top:1px, white;
}

h1 {
text-align: center ;
font-family: 'Ruslan Display', cursive;
}

.bandeau {
   margin-top:20px;
   height:20%;
   background: rgba(255, 255, 255, 0.8);
   }


.row {
height:800px;
background-color: white;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items:center;
align-content:center;
}

.row img{
width:400px;
height:240px;  
}

#footer{
background-color:rgba(98, 13, 14, 0.1); 
height: 200px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
align-items: center;
}
 
 




